.App {
  display: flex;
  flex-flow: column;
  background-size: cover;
  background-position: center;
  background-color: aqua;
  min-height: 105vh;
  opacity: 5%;
}

.Navbar {
  position: relative;
}
