.landingPage {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navBar {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.newsFeed {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  width: 30%;
}
