.status {
  float: right;
  width: 12.5%;
  margin-top: -12.5%;
}

.statusPrivate {
  display: flex;
  color: #ffce35;
  font-size: 14px;
  /*   background-color: #ffcaca; */
  background-position: 1%;
  padding: 10px;
  /*   border-radius: 5px 5px 5px; */
  border: 1px solid #ffce35;
  /* align-items: center; */
  position: relative;
  width: 100%;
}

.statusLive {
  display: flex;
  color: #ffffff;
  font-size: 14px;
  background-color: #ffce35;
  background-position: 1%;
  padding: 10px;
  /*   border-radius: 5px 5px 5px; */
  border: 1px solid #ffce35;
  align-items: center;
  position: relative;
  width: 100%;
}

.ideaCardDateCreated {
  font-weight: 700;
  font-size: small;
}

.ideaDate {
  padding: 2% 0 0 2.5%;
}

.ideaAccordion {
  margin-top: 0.5%;
}
